$themeColor:#398DEE;
$normalColor:#333;

$BGCOLOR:#1a4273;
$LightColor:#3989de;


*{
  draggable:false;
  -webkit-user-select: text; 
  -moz-user-select: text;    
  -khtml-user-select: text;  
  -ms-user-select: text;    
  /* 以下两个属性目前并未支持，写在这里为了减少风险 */
  -o-user-select: text;
  user-select: text; 
}



